.background{

text-align: center;
background-image: url('../../../assets//home/chef-service.jpg');


background-size: cover;
background-repeat: no-repeat; /* Prevents the image from repeating */
background-position: center center; /* Centers the image */
width: 100%; /* Make sure the element has defined width and height */
height: 400px; /* Example height, change as needed */

}


.bg{
width: 70%;

  
}